body{
    background-image: url("http://www.thepixelpixie.com/px-c0nt3n5/uploads/2015/11/green_pattern_maze_textures_ultra_3840x2160_hd-wallpaper-326495.jpg");
    

}

.registerform{
    position: absolute;
    top: 10%;
    left: 30%;
    text-align: center;
    
    margin: 10px;
}
.Question{
    padding: 7%;
    margin: 10px;
}
input{
    padding: 10px;
    margin: 10px;
}